datasets/micro-*/
datasets/proprietary_logs/
datasets/tpc-ds/
datasets/xyz_extended/

datasets_raw/micro-*/
datasets_raw/proprietary_logs/
datasets_raw/tpc-ds/
datasets_raw/xyz_extended/

.env
.ipynb_checkpoints/

webapp/log_results

**/__pycache__/

**/scratch.*
